


<mat-card>

    <mat-card-header>
       <mat-card-title>
          <h4>New Post</h4>
       </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <div class="example-container">



          <mat-form-field style="width:800px">
              <textarea [(ngModel)]="postMsg" name="description" matInput placeholder="Post Message" type="input">
              </textarea>
          </mat-form-field>


        </div>
        <button  (click)="post()" mat-raised-button color="primary">Post</button>
      </form>
    </mat-card-content>


  </mat-card>
