


<mat-card>

  <mat-card-header>
     <mat-card-title>
        <h4>Register New user</h4>
     </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <div class="example-container">


        <mat-form-field>
          <input [(ngModel)]="registerData.email" name="email" matInput placeholder="email" type="email">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="registerData.pwd" name="pwd" matInput placeholder="password" type="password">
        </mat-form-field>
    <br>
        <mat-form-field>
            <input [(ngModel)]="registerData.name" name="name" matInput placeholder="name" type="input">
        </mat-form-field>
<br>
        <mat-form-field style="width:800px">
            <textarea [(ngModel)]="registerData.description" name="description" matInput placeholder="description" type="input">
            </textarea>
        </mat-form-field>


      </div>
      <button  (click)="post()" mat-raised-button color="primary">Register</button>
    </form>
  </mat-card-content>


</mat-card>
